<mat-toolbar color="primary">
  <button *ngIf="extensionType === EJSLExtensionType.Module" mat-icon-button [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <span>{{page.name}} <span class="gray">→ {{page.getEntity().name}}</span></span>
  <button mat-raised-button class="toolbar-button" (click)="add()" *ngIf="appropriateDetailsPageAvailable()">
    <mat-icon>add</mat-icon> Add
  </button>
  <button mat-raised-button class="toolbar-button" (click)="edit()" *ngIf="appropriateDetailsPageAvailable() && selectCollection.length === 1">
    <mat-icon>edit</mat-icon> Edit
  </button>
  <button mat-raised-button class="toolbar-button" (click)="delete()" *ngIf="selectCollection.length !== 0">
    <mat-icon>delete</mat-icon> Delete
  </button>
  <span class="spacer"></span>
  <mat-form-field class="example-form-field">
    <mat-icon>search</mat-icon>
    <input matInput type="text" class="search-input"[(ngModel)]="search.searchTerm">
    <button mat-button [disabled]="search.searchTerm.length === 0" matSuffix mat-icon-button aria-label="Clear" (click)="search.searchTerm=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="!loading" (matSortChange)="sortData($event)">
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <input type="checkbox" [checked]="selectCollection.includes(element.key)" (change)="deletecCollectionChanged(element.key, $event)">
    </td>
  </ng-container>

  <ng-container *ngFor="let column of page.getEntity().attributes; let i = index" [matColumnDef]="column.name">
    <th mat-header-cell mat-sort-header="{{column.name}}" *matHeaderCellDef>
      {{column.name}}
      <span class="referenceDescription">
        {{getReferenceDescription(column)}}
      </span></th>
    <td mat-cell *matCellDef="let element">
      <span class="gray" *ngIf="isNullOrUndefined(element.value[column.name])">
        null
      </span>
      <span *ngIf="!isNullOrUndefined(element.value[column.name])">
        <a *ngIf="isLink(column)"
           [routerLink]="['../', getLink(column).getTargetPage().name]"
           [queryParams]="getQueryParams(column, element.value)">
          {{element.value[column.name]}}
        </a>
        <span *ngIf="!isLink(column)">
        {{element.value[column.name]}}
          </span>
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="ID">
    <th mat-header-cell mat-sort-header="ID" *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">
      <span class="gray">{{element.key}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="loading-div" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
