.mat-cell {
    padding: 10pt 20pt 10pt 0;
}

table {
    width: 100%;
}

.toolbar-button {
    margin-left: 10pt;
}

.loading-div {
    padding: 20pt;
    background-color: white;
}

.referenceDescription {
    margin-left: 2pt;
    color: lightgray;
}

.spacer {
    flex: 1 1 auto;
}

table {
    box-shadow: none;
}

.search-input {
    font-weight: normal;
    font-size: medium;
}

.mat-icon, .search-input {
    vertical-align: middle;
}
