.modelRect {
    margin-top: 10pt;
    margin-left: 10pt;
    max-width: 600pt;
    padding-top: 10pt;
    text-align: left;
    display: inline-block;
}

.mat-card {
    margin-right: 10pt;
    margin-bottom: 10pt;
}

.center {
    text-align: center;
}

.logo {
    margin: 30pt 0pt;
    height: 60pt;
}

.add-button {
    margin-bottom: 10pt;
}

.loading-spinner {
    display: inline-block;
}

td {
    padding-right: 20pt;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.indent {
    margin-left: 10pt;
}
