<app-topbar></app-topbar>

<div class="center">

  <div>
    <img src="assets/ejsl-logo.png" class="logo">
  </div>

  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="modelRect">
    <button *ngIf="!loading" class="add-button" mat-icon-button mat-raised-button color="primary"
            (click)="addButtonClicked()">
      <mat-icon>add</mat-icon>
    </button>

    <mat-card *ngFor="let model of models; let i = index">
      <mat-card-content>
        <h2>{{model.name}}</h2>
        <p class="gray">{{model.filename}}</p>

        <mat-accordion [multi]="true" class="headers-align">
          <mat-expansion-panel *ngFor="let extension of model.parts[0].extensions">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{extension.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{_EJSLExtensionType[extension.type]}}
                <ng-container *ngIf="extension.type === _EJSLExtensionType.Plugin">
                  ({{_EJSLPluginType[getAsPlugin(extension).pluginType]}})
                </ng-container>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>{{extension.manifest.description ? extension.manifest.description : 'no description'}}</p>

            <h3>Manifest</h3>

            <table class="indent">
              <tr>
                <td class="gray">
                  Version
                </td>
                <td class="gray">
                  License
                </td>
                <td class="gray">
                  Languages
                </td>
              </tr>
              <tr>
                <td>
                  {{extension.manifest.version}}
                </td>
                <td>
                  {{extension.manifest.license}}
                </td>
                <td>
                  {{getLanguagStringList(extension)}}
                </td>
              </tr>
            </table>

            <h3>Authors</h3>

            <table class="indent">
              <tr>
                <td class="gray">
                  Name
                </td>
                <td class="gray">
                  E-Mail
                </td>
                <td class="gray">
                  URL
                </td>
              </tr>
              <tr *ngFor="let author of extension.manifest.authors">
                <td>
                  {{author.name}}
                </td>
                <td>
                  {{author.authoremail}}
                </td>
                <td>
                  {{author.authorurl}}
                </td>
              </tr>
            </table>


            <ng-container *ngIf="extension.type === _EJSLExtensionType.Component">
              <ng-container *ngFor="let section of getAsComponent(extension).sections">
                <h3>{{getSectionName(section.type)}}
                  <button mat-button color="primary"
                          [routerLink]="[model.filename, 'component', extension.name, _EJSLSectionType[section.type]]">
                    → Visit
                  </button>
                </h3>
                <ng-container *ngFor="let pageRef of section.pageRefs">

                  <button
                    mat-button
                    [disabled]="pageRef.getPage().type !== _EJSLPageType.IndexPage"
                    [routerLink]="[model.filename, 'component', extension.name, _EJSLSectionType[section.type], pageRef.getPage().name]"
                    color="primary">
                    {{pageRef.getPage().name}}
                  </button>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="extension.type === _EJSLExtensionType.Module">
              <h3>Page</h3>
              <button
                color="primary"
                mat-button
                [routerLink]="[model.filename, 'module', extension.name]">
                {{getAsModules(extension).pageRef.getPage().name}}
                <span class="gray">
                 → {{getAsModules(extension).pageRef.getPageSource().name}}
                </span>
              </button>
            </ng-container>

            <ng-container *ngIf="extension.type === _EJSLExtensionType.Plugin">
              <ng-container *ngIf="getAsPlugin(extension).pluginType === _EJSLPluginType.Search"></ng-container>
              <h3>Page</h3>
              <button
                color="primary"
                mat-button
                [routerLink]="[model.filename, 'search', extension.name]">
                Visit Page
              </button>
            </ng-container>


          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteClicked(model)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
