<ng-container *ngIf="section">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      attr.role="naviagtion"
      mode="side"
      opened>
      <mat-toolbar color="primary">
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        {{section.extension.name}}
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="selectePage = page"
           *ngFor="let page of indexPages"
           [routerLink]="['/', section.extension.part.model.filename, 'component', section.extension.name, _EJSLSectionType[section.type], page.name]">
          <span *ngIf="selectePage && selectePage.name === page.name" class="arrow">→ </span>
          {{page.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="card-padding" *ngIf="selectePage">
        <app-index-page-display
          *ngIf="selectePage.type === _EJSLPageType.IndexPage"
          [page]="selectePage"
          [section]="section"></app-index-page-display>
        <app-details-page-display
          *ngIf="selectePage.type === _EJSLPageType.DetailsPage"
          [page]="selectePage"
          [section]="section"></app-details-page-display>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
