<ng-container *ngIf="page && object">
  <mat-toolbar color="primary">
    <span>{{object.key ? 'Edit' : 'Add'}} {{this.page.getEntity().name}} <span
      class="gray">→ {{page.getEntity().name}}</span></span>
    <span class="spacer"></span>
    <ng-container *ngFor="let action of getLinkedActions()">
      <ng-container *ngIf="action.type === EJSLPageActionType.CANCEL">
        <button mat-raised-button class="topbar-button" [routerLink]="['../', action.getLink().getTargetPage().name]">
          <mat-icon>cancel</mat-icon> {{action.getLink().name}}
        </button>
      </ng-container>
    </ng-container>
    <button mat-raised-button class="topbar-button" (click)="pnSaveClick()">
      <mat-icon>save</mat-icon> Save
    </button>
  </mat-toolbar>

  <div *ngIf="object" class="container">
    <ng-container *ngIf="this.page.editFields.length > 0">
      <ng-container *ngFor="let field of this.page.editFields">
        <ng-container *ngIf="!field.getAttribute().getReference()" [ngSwitch]="field.htmlType">
          <mat-form-field *ngSwitchCase="EJSLHtmlType.Text_Field">
            <mat-label>{{getLabelTextForEditField(field)}}</mat-label>
            <input matInput [(ngModel)]="object.value[field.getAttribute().name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="EJSLHtmlType.Select">
            <mat-select placeholder="{{getLabelTextForEditField(field)}}" [(value)]="object.value[field.getAttribute().name]">
              <mat-option *ngFor="let value of field.values" [value]="value.value">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="EJSLHtmlType.Integer">
            <mat-label>{{getLabelTextForEditField(field)}}</mat-label>
            <input matInput type="number" [(ngModel)]="object.value[field.getAttribute().name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="EJSLHtmlType.Editor">
            <mat-label>{{getLabelTextForEditField(field)}}</mat-label>
            <textarea [(ngModel)]="object.value[field.getAttribute().name]" matInput rows="5"></textarea>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="EJSLHtmlType.Datepicker">
            <mat-label>{{getLabelTextForEditField(field)}}</mat-label>
            <ng-container *ngIf="field.getAttribute().type === DataType.Datetime">
              <input type="datetime-local" matInput [(ngModel)]="object.value[field.getAttribute().name]">
            </ng-container>
            <ng-container *ngIf="field.getAttribute().type === DataType.Date">
              <input type="date" matInput [(ngModel)]="object.value[field.getAttribute().name]">
            </ng-container>
            <ng-container *ngIf="field.getAttribute().type === DataType.Time">
              <input type="time" matInput [(ngModel)]="object.value[field.getAttribute().name]">
            </ng-container>
          </mat-form-field>

        </ng-container>
        <ng-container *ngIf="field.getAttribute().getReference()">
          <mat-form-field>
            <mat-select placeholder="{{getLabelTextForEditField(field)}}" [(value)]="object.value[field.getAttribute().name]">
              <mat-option *ngIf="field.getAttribute().getReference().min === 0" value="">None</mat-option>
              <mat-option *ngFor="let entry of getReferenceEntries(field.getAttribute())" [value]="entry.value">
                {{entry.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="this.page.editFields.length === 0">
      <ng-container *ngFor="let column of this.page.getTableColumns()">
        <ng-container *ngIf="!column.getReference()" [ngSwitch]="column.type">
          <mat-form-field *ngSwitchCase="DataType.Short_Text">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Text">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <textarea [(ngModel)]="object.value[column.name]" matInput rows="5"></textarea>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Date">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="date" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Time">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="time" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Integer">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="number" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Datetime">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="datetime-local" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Link">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="url" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="DataType.Image">
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input matInput [(ngModel)]="object.value[column.name]"/>
            <img class="img-preview" src="{{object.value[column.name]}}">
          </mat-form-field>

          <ng-container *ngSwitchCase="DataType.Boolean">
            <div class="mat-caption radio-label">{{getLabelTextForColumn(column)}}</div>
            <mat-radio-group [(ngModel)]="object.value[column.name]">
              <mat-radio-button class="radio-left" [value]="true">True</mat-radio-button>
              <mat-radio-button [value]="false">False</mat-radio-button>
            </mat-radio-group>
          </ng-container>

          <mat-form-field *ngSwitchDefault>
            <mat-label>{{getLabelTextForColumn(column)}}</mat-label>
            <input type="text" matInput [(ngModel)]="object.value[column.name]">
          </mat-form-field>

        </ng-container>
        <ng-container *ngIf="column.getReference()">
          <mat-form-field>
            <mat-select placeholder="{{getLabelTextForColumn(column)}}" [(value)]="object.value[column.name]">
              <mat-option *ngIf="column.getReference().min === 0" value="">None</mat-option>
              <mat-option *ngFor="let entry of getReferenceEntries(column)" [value]="entry.value">
                {{entry.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
