.spacer {
    flex: 1 1 auto;
}

.topbar-button {
    margin-left: 10pt;
}

.mat-form-field  {
    width: 100%
}

.img-preview {
    width: 60pt;
    height: 60pt;
    object-fit: cover;
}

mat-radio-button ~ mat-radio-button {
    padding-right: 16px;
}

.radio-label {
    margin-top: 4pt;
    margin-bottom: 4pt;
    color: rgba(0,0,0,.54)
}

.radio-left {
    margin-right: 7pt;
}

.container {
    background-color: white;
    padding: 50pt;
}
