<h1 mat-dialog-title>Add model</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>eJSL as XMI</mat-label>
    <textarea [(ngModel)]="xmlString" matInput rows="5"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div>
