<mat-toolbar color="primary" *ngIf="!_isNullOrUndefined(searchPlugin)">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <span>{{lang.get(searchPlugin.name, searchPlugin)}} <span class="gray">→ {{searchPlugin.getEntity().name}}</span></span>
</mat-toolbar>

<div class="loading-div" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!_isNullOrUndefined(searchPlugin)">
  <ng-container *ngFor="let parameter of searchPlugin.localParameters">
    <ng-container [ngSwitch]="parameter.dtype">
      <mat-form-field *ngSwitchCase="_EJSLHtmlType.Text_Field">
        <mat-label>{{getLabelTextForEditField(parameter)}}</mat-label>
        <input matInput type="text" class="search-input" [(ngModel)]="parameterValues[parameter.name]">
        <button mat-button [disabled]="parameterValues[parameter.name].length === 0" matSuffix mat-icon-button aria-label="Clear" (click)="parameterValues[parameter.name] = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <ng-container *ngSwitchDefault>
        Unsupported HtmlType: {{parameter.dtype}}
      </ng-container>
    </ng-container>
  </ng-container>

  <button mat-raised-button color="primary" (click)="performSearch()">Search</button>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    (matSortChange)="sortData($event)">
    <ng-container *ngFor="let column of searchPlugin.getEntity().attributes; let i = index"
                  [matColumnDef]="column.name">
      <th mat-header-cell mat-sort-header="{{column.name}}" *matHeaderCellDef>
        {{column.name}}
        <span class="referenceDescription">
        {{getReferenceDescription(column)}}
      </span></th>
      <td mat-cell *matCellDef="let element">
      <span class="gray" *ngIf="_isNullOrUndefined(element.value[column.name])">
        null
      </span>
        <span *ngIf="!_isNullOrUndefined(element.value[column.name])">
        <span>
        {{element.value[column.name]}}
          </span>
      </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="ID">
      <th mat-header-cell mat-sort-header="ID" *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <span class="gray">{{element.key}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
