/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  border-right: 1px solid lightgray;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list a.active {
  background: #e2e2e2;
}

.highlighted {
  background-color: lightgray;
}

.gray {
  color: lightgray;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 
